files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-application.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eb-app/*.log

option_settings:
  # Enable CloudWatch Logs
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
    
  # Configure which logs to stream
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7